{% extends "baseadmin.html.twig" %}
{% block body %}
 {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
  {% endfor %}
  {% for message in app.flashes('error') %}
    <div class="alert alert-danger">
            {{ message }}
    </div>
   {% endfor %}

{% include '_adminformplaylist.html.twig' with  {'formPlaylist' : formPlaylist} %} 
 {% endblock %}



 