{% extends "baseadmin.html.twig" %}
{% block body %}
 {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
  {% endfor %}
{% include '_adminformplaylist.html.twig' with  {'formPlaylist' : formPlaylist} %} 
 {% endblock %}
